@model IEnumerable<NewsPortal.Models.Post>
@{
    ViewData["Title"] = "Noticias";
}

<h1>Noticias</h1>
<ul>
@foreach (var post in Model)
{
    <li>
        <a asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
    </li>
}
</ul>